NLLB_RUNTIME_ROOT=/home/amritha/models/nllb_en_ml_runtime
ONNX_MODEL_DIR=/home/amritha/models/nllb_en_ml_runtime/onnx
TOKENIZER_DIR=/home/amritha/models/nllb_en_ml_runtime/merged_hf

SOURCE_LANGUAGE=eng_Latn
TARGET_LANGUAGE=mal_Mlym
ORT_PROVIDER=CPUExecutionProvider

MAX_INPUT_CHARACTERS=5000
MAX_INPUT_TOKENS=512
MAX_BATCH_SIZE=16
MAX_CONCURRENT_GENERATIONS=1
